body {
	background: rgb(21, 61, 115);
	font-family: "Lato", sans-serif;
}

h1, h2 {
	font-family: "Robato Condensed", sans-serif;
}

a:hover {
	color: rgb(21, 61, 115);
	font-style: italic;
}

#main {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto auto;
}

.content {
	grid-column: 1;
	margin-right: 10px;
	color: rgb(230, 230, 230);
}

.sidebar {
	background: rgb(235, 134, 33);
	color: rgb(50, 50, 50);
	grid-column: 2;

	display: flex;
	flex-direction: column;
}

.sidebar .post {
	background: rgba(255, 255, 255, 0.75);
	margin: 20px;
	padding: 10px;
}

.image-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	justify-content: center;
}

.image-grid img {
	height: 150px;
	width: 150px;
	padding: 2px;
}

.image-grid img:hover {
	opacity: 0.7;
}

.para-1 {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: auto auto auto auto;
	justify-content: start;
}

.para-1 .subtitle {
	grid-row: 1;
}

.para-1 p {
	grid-row: 3;
	width: 85%;
	margin-left: 15px;
}

.para-1 img {
	width: 350px;
	grid-row: 2 / span 3;
	margin-left: 10px;
}

.para-1 img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);

	-webkit-transition: transform 1.3s ease-in-out;
	-moz-transition: transform 1.3s ease-in-out;
	-o-transition: transform 1.3s ease-in-out;
}

